<footer style="background:#e3e3e3!importent;" class="probootstrap-footer ">
  <div class="probootstrap-backtotop"><a href="#" class="js-backtotop"><i class="icon-chevron-thin-up"></i></a></div>
  <div class="container">
  <div class="row mb50">
    <div class="col-md-4">
      <div class="probootstrap-footer-widget">
        <h4>About The Site</h4>
        <p> <a href="#">Learn More</a></p>
      </div>
    </div>
    <div class="col-md-3 col-md-push-1">
      <div class="probootstrap-footer-widget">
        <h4>Responce Hours</h4>
        <ul class="probootstrap-footer-link">


          <li>Friday: 05:00 - 22:00</li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 col-md-push-1">
      <div class="probootstrap-footer-widget">
        <h4>Links</h4>
        <ul class="probootstrap-footer-link float">
          <li><a routerLink='/'>Home</a></li>
          <li><a routerLink='program'>Programs</a></li>
          <li><a routerLink='gallery'>Gallery</a></li>
        </ul>
        <ul class="probootstrap-footer-link float">
          <li><a routerLink='about-me'>About Me</a></li>
          <li><a routerLink='contact'>Contact</a></li>
          <li><a routerLink='privacy'>Privacy</a></li>
        </ul>

      </div>
      <div class="probootstrap-footer-widget">
        <h4>Contact Info</h4>
        <ul class="probootstrap-contact-info">
          <li><i class="icon-location2"></i> <span>D4 Divine Park View, Abhay Khand 3, Indrapuram</span></li>
          <li><i class="icon-mail"></i><span><a href="" class="__cf_email__">email&#160;</a></span></li>
          <li><i class="icon-phone2"></i><span>+91 7827558618</span></li>
        </ul>
      </div>
    </div>

  </div>
  </div>
</footer>