<app-intro-section></app-intro-section>
<!-- END: section -->
 <main>
   <section id="next-section" class="probootstrap-section">
     <div class="container">
       <div class="row probootstrap-gutter60 mb50">
           <div class="col-md-6">
             <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                 <img mat-card-avatar  src="./assets/profile/profile1.jpg" alt="Photo of a Shiba Inu">
               </div>
                <mat-card-title>Shivam Dwivedi</mat-card-title>
                <mat-card-subtitle>profile</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="./assets/profile/profile1.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>

                  <p>Studying information technology in Inderprasth Engineering College
                 . I`m born and raised in UP.</p>

              </mat-card-content>
             
            </mat-card>
         </div>
         <div class="col-md-6">
           <h2 class="probootstrap-heading">Hello My Name is Shivam Dwivedi </h2>
           <p>Studying information technology in Inderprasth Engineering College
          .  Born and raised in UP.</p>

         </div>
       </div>
    </div>
   </section>
 </main>
