<!-- START: header -->

 <header style="position: relative;" role="banner" class=". probootstrap-header ">
   <div class="container-fluid">
       <a routerLink ='' class="probootstrap-logo">DWIVEDI<span>.</span></a>

       <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
       <div class="mobile-menu-overlay"></div>

       <nav role="navigation" class="probootstrap-nav hidden-xs">
         <ul class="probootstrap-main-nav">
           <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"><a routerLink =''>Home</a></li>

           <li routerLinkActive="active"><a routerLink= 'gallery'>Gallery</a></li>
           <li routerLinkActive="active"><a routerLink='about-me'>About Me</a></li>
           <li routerLinkActive="active"><a routerLink='contact'>Contact</a></li>
           <li routerLinkActive="active"><a routerLink='blog'>Blog</a></li>

         </ul>
         <ul class="probootstrap-header-social hidden-xs">
           <li><a href="https://api.whatsapp.com/send?phone=+917827458618&text=Hi, I contacted you Through your website."><i class="icon-whatsapp"></i></a></li>
             <li><a href="https://www.facebook.com/shivam.kdwivedi.31 " target="blank"><i class="icon-facebook2"></i></a></li>
             <li><a href="https://www.instagram.com/shivam.red/" target="blank"><i class="icon-instagram2"></i></a></li>
         </ul>
         <div class="extra-text visible-xs">
           <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
           <h5>Connect With Me</h5>
           <ul class="social-buttons">
             <li><a href="https://api.whatsapp.com/send?phone=+917827458618&text=Hi, I contacted you Through your website."><i class="icon-whatsapp"></i></a></li>
             <li><a href="https://www.facebook.com/shivam.kdwivedi.31 " target="blank"><i class="icon-facebook2"></i></a></li>
             <li><a href="https://www.instagram.com/shivam.red/" target="blank"><i class="icon-instagram2"></i></a></li>
           </ul>
         </div>
       </nav>
   </div>
 </header>
 <!-- END: header -->
